$vermillion: #f5433d;
$isabelline: #f4f0ec;
$jet: #363635;
$cherry-blossom-pink: #f8c1c1;
$air-superiority-blue: #87ceeb;

body,
html,
#root {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: 'white';
}
